.container{
	width:1170px;
	padding: 0 15px;
	margin: 0 auto;
}
.row{
	display: flex;
	flex-wrap: nowrap;
	margin-left: -15px;
	margin-right: -15px;
}
.row > *{
	width: 100%;
	padding: 0 15px;
}
.col-lg-1{
	width: 8.33%;
	padding: 0 15px;
}
.col-lg-2{
	width: 16.66%;
	padding: 0 15px;
}
.col-lg-3{
	width: 25%;
	padding: 0 15px;
}
.col-lg-4{
	width: 33.33%;
	padding: 0 15px;
}
.col-lg-5{
	width:41.66%;
	padding: 0 15px;
}
.col-lg-6{
	width: 50%;
	padding: 0 15px;
}
.col-lg-7{
	width: 58.33%;
	padding: 0 15px;
}
.col-lg-8{
	width: 66.66%;
	padding: 0 15px;
}
.col-lg-9{
	width: 75%;
	padding: 0 15px;
}
.col-lg-10{
	width: 83.33%;
	padding: 0 15px;
}
.col-lg-11{
	width: 91.66%;
	padding: 0 15px;
}
.col-lg-12{
	width: 100%;
	padding: 0 15px;
}

.topheader{
	background-color:black;
	padding: 10px 0;
}
.logo > a{
	font-size: 35px;
	font-weight:500;
	color: white;
	text-decoration: none;
}
h1{
	font-family:Raleway, sans-serif;
}
span{
	color: yellow;
}
.navlink{
	display: inline-block;
	padding: 10px;
}
.navlink a{
	display: block;
	text-decoration:none;
	color: white;
	font-size:15px;
	font-weight: 700;
}
.navlink > a:hover{
	display: block;
	text-decoration:none;
	color: orange;
	font-size:15px;
	font-weight: 700;
}

.dropdown, .dropdown_content{
	position: relative;
}
.dropdown > a > i{
	margin-left: 8px;
}
.dropdown_list, .dropdown_content_sub {
  display: none;
  position: absolute;
  top:100%;
  left: 0;
  min-width: 180px;   
  background-color: white; 
  padding: 10px 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: all 0.3s ease;
}
.dropdown_content_sub {
	left: 100%;
	top: 0;
transform: translateX(-30px);	
}
.dropdown:hover .dropdown_list, 
.dropdown_content:hover .dropdown_content_sub{
  opacity: 1;
  visibility: visible;
   transform: translateX(0);
  display: block;
}

.dropdown_list > li > a,
.dropdown_content_sub >li >a{
	display: block;
	text-decoration:none;
	color: black;
	font-size:15px;
	text-align: left;
	padding: 8px 20px;
	transition: all 0.3s ease;
} 
.dropdown_list > li > a:hover,
 .dropdown_content_sub >li >a:hover {
	background-color:orange;
	color:black;
}  
.btn{
	background-color:black;
	color:white;
	padding:10px 10px;
	border:1px solid yellow;
	border-radius:10px;
}
.nav-button > a{
display: inline-block;
    background-color: black;
    color: green;
    text-decoration: none;
    text-align: center;
    padding: 10px 25px;
}
.nav-button a:hover{
	background-color:blue;
	color:white;
	text-decoration: none;
}
.bannersection{
	background-color:red;
	height: 250px;
}
.bannercontent{
	background-color:black;
	height:100px;
}
.bannerdata{
	background-color:white;
	height:50px;
	justify-content:center;
}
.banner-items{
	background-color:red;
	height:100px;
	justify-content:center;
	
}
.banner-boxs{
	background-color:black;
	height:100px;
	margin:10px;
	padding-bottom:20px;
}
.about
{
	background-color:red;
	height: 310px;
}
.about_content{
	background-color:black;
	height:300px;
}
.clients{
	background-color:red;
	height: 100px;
}
.clientimage{
	background-color:black;
	height: 50px;
	margin: 10px;
}
 .service{
	background-color:red;
	height: 340px;
}
.services{
	background-color:red;
	height: 480px;
}
.servicelist{
	background-color:black;
	height: 220px;
	margin-bottom: 20px;
}
.services_name{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}
.servicehead{
	background-color:red;
	    height: 140px;
}
.servicecontent{
	background-color:black;
	height:100px;
}
.callaction{
	background-color:red;
	height: 190px;
}
.calltoaction{
	background-color:black;
	height:170px;
}
.portfolio{
	background-color:red;
}
.portfoliohead{
	background-color:black;
	height:100px;
	margin-bottom: 20px;
}
.portfolio_items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: red;
    height: 710px;
}
.portfoliolist{
	background-color:black;
	height: 110px;
	margin-bottom: 20px;
}
.portfoliolist1{
	background-color:black;
	height: 220px;
	margin-bottom: 20px;
}
.aboutcom{
	background-color:red;
}
